:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top right, #ff7e5f, #feb47b); /* Example gradient */
  z-index: -1; /* Ensures the background is behind the content */
}
